<!DOCTYPE html>
	<html>
		<head>
		  <title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="/photos/favicon.ico" type="image/x-icon">
			<!-- Google Search Verification Key -->
			<meta name="google-site-verification" content="WLmHs6m0TRFDweNmUKz4cShpq-sveUOEpVPK3FO5pGk" /> 
		</head>
		<body>
			<nav>
				<a class="site-title" href="/">Cameron Trumpy</a>
	    		<ul>
					<li><a href="/spark_showcase">SPARK Electric Racing</a></li>
                    <li><a href="/showcase">Coursework & Projects</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
      <div class="container">
			{{ content }}
      </div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cameron.trumpy@gmail.com">email</a></li>
        		<li><a href="https://github.com/CameronTrumpy">github.com/CameronTrumpy</a></li>
				</ul>
			</footer>
		</body>
	</html>
